.screen {
  background-color: rgba(255, 255, 255, 0.788);
  padding: 2%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 7%;
  width: 92%;
  min-height: 5rem;
  border-radius: 10px;
  font-size: 6vh;
  font-family: var(--buttons-font);
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(255, 255, 101, 0.349);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.calc-buttons {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
}

.calc-button:last-child {
  background-color: rgb(15, 236, 225);
  color: white;
}

.buttons-row {
  display: flex;
  margin-bottom: 2px;
  gap: 9px;
  justify-content: space-between;
}

.buttons-row:last-child {
  margin-bottom: 0;
}

.calc-button,
.calc-button-double,
.calc-button-triple {
  flex: 1;
  min-width: 0;
  padding: 15px 0;
  font-size: 1.5rem;
  background-color: whitesmoke;
  border: 1px solid #444;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 30px;
  font-family: var(--buttons-font);
}
.calc-button:last-child,
.calc-button-double:last-child,
.calc-button-triple:last-child {
  margin-right: 0;
}

.calc-button {
  flex: 1;
}

.calc-button-double {
  flex: 2;
  flex-basis: 5%;
}

.calc-button-triple {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 8%;
}
